<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1>As JSON</h1><br/>
<div>{{asJSON}}</div><br/>
<h1>Original Color</h1><br/>
<div style="background-color: {{originalColor}}; width: 50px; height: 50px;"></div><br/>
{{originalColor}}<br/>
<h1>Complimentary Colors</h1><br/>
<div style="background-color: {{complimentaryColor1}}; width: 50px; height: 50px;"></div><br/>
{{complimentaryColor1}}<br/>
<div style="background-color: {{complimentaryColor2}}; width: 50px; height: 50px;"></div><br/>
{{complimentaryColor2}}<br/>
<h1>Split Complimentary Colors</h1><br/>
<div style="background-color: {{splitComplimentaryColor1}}; width: 50px; height: 50px;"></div><br/>
{{splitComplimentaryColor1}}<br/>
<div style="background-color: {{splitComplimentaryColor2}}; width: 50px; height: 50px;"></div><br/>
{{splitComplimentaryColor2}}<br/>
<div style="background-color: {{splitComplimentaryColor3}}; width: 50px; height: 50px;"></div><br/>
{{splitComplimentaryColor3}}<br/>
<h1>Triad Colors</h1><br/>
<div style="background-color: {{triadColor1}}; width: 50px; height: 50px;"></div><br/>
{{triadColor1}}<br/>
<div style="background-color: {{triadColor2}}; width: 50px; height: 50px;"></div><br/>
{{triadColor2}}<br/>
<div style="background-color: {{triadColor3}}; width: 50px; height: 50px;"></div><br/>
{{triadColor3}}<br/>
<h1>Analogous Colors</h1><br/>
<div style="background-color: {{analogousColor1}}; width: 50px; height: 50px;"></div><br/>
{{analogousColor1}}<br/>
<div style="background-color: {{analogousColor2}}; width: 50px; height: 50px;"></div><br/>
{{analogousColor2}}<br/>
<div style="background-color: {{analogousColor3}}; width: 50px; height: 50px;"></div><br/>
{{analogousColor3}}<br/>
<h1>Rectangle Colors</h1><br/>
<div style="background-color: {{rectangleColor1}}; width: 50px; height: 50px;"></div><br/>
{{rectangleColor1}}<br/>
<div style="background-color: {{rectangleColor2}}; width: 50px; height: 50px;"></div><br/>
{{rectangleColor2}}<br/>
<div style="background-color: {{rectangleColor3}}; width: 50px; height: 50px;"></div><br/>
{{rectangleColor3}}<br/>
<div style="background-color: {{rectangleColor4}}; width: 50px; height: 50px;"></div><br/>
{{rectangleColor4}}<br/>
<h1>Square Colors</h1><br/>
<div style="background-color: {{squareColor1}}; width: 50px; height: 50px;"></div><br/>
{{squareColor1}}<br/>
<div style="background-color: {{squareColor2}}; width: 50px; height: 50px;"></div><br/>
{{squareColor2}}<br/>
<div style="background-color: {{squareColor3}}; width: 50px; height: 50px;"></div><br/>
{{squareColor3}}<br/>
<div style="background-color: {{squareColor4}}; width: 50px; height: 50px;"></div><br/>
{{squareColor4}}<br/>
</body>
</html>